<header>
    <h1 align="center">MAGIC</h1>
    <h1 align="center">CINE</h1>
    <h2 align="center">Lo que el mundo necesitaba</h2>
    <br>
    <p align="center"><button>Explorar</button></p>
</header>