<section id="segunda">
    <div>
        <h2 id="cartelera">Nuestra Cartelera</h2>
    </div>
    <div class="container">
            
         <div class="flex-container">
                
             <div class="cartelera">
                 <h4>Zack Snyder's Justice League</h4>
                <img src="Imagenes/jl.jpg" alt="jl" width="250px">
                <p><strong>2D:</strong> $5.50</p>
                <p><strong>3D:</strong> $8.00</p>
            </div>
            <div class="cartelera">
                 <h4>Godzilla vs Kong</h4>
                 <img src="Imagenes/GvK.jpg" alt="GvK" width="200px">
                <p><strong>2D:</strong> $5.50</p>
                <p><strong>3D:</strong> $8.00</p>
             </div>
            <div class="cartelera">
                 <h4>Wonder Woman 1984</h4>
                 <img src="Imagenes/ww.jpg" alt="ww" width="250px">
                 <p><strong>2D:</strong> $5.50</p>
                <p><strong>3D:</strong> $8.00</p>
            </div>
        </div>
    </div>
    <p align=center><button>Mas Peliculas</button></p>
</section>