<section id="segunda">
    <div>
        <h2 id="cartelera">Nuestra Cartelera</h2>
    </div>
    <div class="container">
            
         <div class="flex-container">
            {{ getPRODUCTS}}    
            
        </div>
    </div>
    <p align=center><button>Mas Peliculas</button></p>
</section>