<section id="tercera">  
    <h4>Direccion</h4>
    <p>Av. Miguel Iturralde y Av. Heroes del Cenepa, Latacunga</p>
    <h4>Email</h4>
    <p>magiccine@gmail.com</p>
    <h4>Telefono</h4>
    <p>+593999096901</p>
</section>