<section id="primera">
    <div class="container">
        <div class="flex-container">
            <div id="logo">
                <img src="Imagenes/logo.png" alt="logo" height="300" width="300">
            </div>
            <div id="acerca">
                <h3 aling="center">Acerca de Nosotros </h3>
                <p align="justify"> Todos nuestros cines están dotados con tecnología 100% digital. Somos pioneros en la industria local 
                    desde sus inicios con implementación de love seats, días promocionales, días locos, 
                    digitalización y Reald3D, butacas numeradas y nuevas formas de vivir la experiencia inmersiva del cine 
                    con salas XDs y butacas con movimiento DBOX.
                </p>
                <button>Mas Informacion</button>
            </div>
        </div>
    </div>
</section>